<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        {% for number, count in firstList %}
            <tr>
                <td {% if forloop.counter <= 6 %} style="color: red;" {% endif %} >{{ number }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <table border="1">
        {% for number, count in secondList %}
            <tr>
                <td>{{ number }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>